body {
	background-image: url(images/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	margin: auto;
	text-align: center;
}

* {
	font-family: "Bubblegum Sans";
}

.big-heading {
	font-family: "Bubblegum Sans";
	font-weight: 700;
	color: black;
	font-size: 3.5rem;
	padding: auto;
	margin: 1%;
}

ul {
	display: flex;
	flex-wrap: wrap;
	margin: 2vmin;
	padding: 0%;
	text-align: center;
}

li {
	height: 40vh;
	flex-grow: 1;
	position: relative;
	margin: 2vmin;
	box-shadow: 0 4px 8px 0 rgb(75, 75, 75);
	overflow: hidden;
	transform: scale(1);
	border-radius: 3vmin;
}

img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
	border-radius: 3vmin;
}

.overlay {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	color: #f1f1f1;
	transition: 0.5s ease;
	opacity: 90%;
	padding: 20px;
	text-align: center;
	font-family: "Quicksand";
	font-weight: 700;
	color: white;
	font-size: 1rem;
}

li:hover .overlay {
	display: block;
}

li:last-child {
	flex-grow: 10;
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
	ul {
		flex-direction: row;
	}

	li {
		height: auto;
		width: 100%;
	}

	img {
		width: 100%;
		max-height: 75vh;
		min-width: 0;
	}
}